@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), local("SegoeUI"),
    url("/fonts/SegoeUI.woff2") format("woff2"),
    url("/fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url("/fonts/SegoeUI-SemiBold.woff2") format("woff2"),
    url("/fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), local("SegoeUI-Light"),
    url("/fonts/SegoeUI-Light.woff2") format("woff2"),
    url("/fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"),
    url("/fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("/fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave {
  opacity: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

button, button:focus {
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.loader {
  height: 90vmin;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.main {
  max-width: 600px;
  width: 100%;
  border: 1px solid rgb(235, 238, 240);
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
  border-left: 1px solid rgb(235, 238, 240);
  max-width: 600px;
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 99;
}
.main-header__title {
  color: rgb(15, 20, 25);
  font-size: 19px;
  font-weight: 800;
  line-height: 1.3125;
}
.main-header__img {
  width: 39px;
  height: 39px;
  padding: 10px;
}
.main-header__icon {
  widows: 100%;
  cursor: pointer;
  border-radius: 9999px;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}
.main-header__icon:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.main-form {
  /* margin-top: 60px; */
  padding: 15px;
  border-bottom: 1px solid rgb(235, 238, 240);
  max-width: 600px;
  width: 100%;
}
.main-line {
  height: 10px;
  background-color: rgb(247, 249, 250);
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-header__logo-img {
  display: none;
  width: 40px;
  height: auto;
}

@media (max-width: 499px) {
  .main {
    width: 100vw;
  }
    .posts {
    margin-bottom: 60px;
  }

  .main-header__logo-img {
    display: block;
  }


}

